<!-- Start Popup Mobile Menu  -->
<div class="d-block d-xl-none">
    <div class="tmp-popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="../index/index.html" class="logo-area">
                        <img class="logo-dark" src="../assets/images/logo/white-logo-reeni.png" alt="logo">
                        <img class="logo-white" src="../assets/images/logo/logo-white.png" alt="logo">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button tmp-round-action-btn">
                        <i class="fa-sharp fa-light fa-xmark"></i>
                    </button>
                </div>
            </div>

            <ul class="tmp-mainmenu onepagenav-click">
                <li><a class="smoth-animation" href="#home">Home</a></li>
                <li><a class="smoth-animation" href="#service">Services</a></li>
                <li><a class="smoth-animation" href="#portfolio">Portfolio</a></li>
                <li><a class="smoth-animation" href="#resume">Resume</a></li>
                <li><a class="smoth-animation" href="#pricing">Pricing</a></li>
                <li><a class="smoth-animation" href="#blog">Blog</a></li>
                <li><a class="smoth-animation" href="#contacts">Contact</a></li>
            </ul>

            <!-- social sharea area -->
            <div class="social-wrapper mt--40">
                <span class="subtitle">find with me</span>
                <div class="social-link">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
            <!-- end -->

        </div>
    </div>
</div>
<!-- End Popup Mobile Menu  -->