<header class="site-header" id="js-site-header">
    <div class="container site-header__container">
        <a href="./index.html" class="site-header__logo">
            <span>Chinese Culture Festival</span>
        </a>

        <nav class="desktop-nav">
            <ul class="desktop-nav__list">
                <li><a href="./index.html" class="desktop-nav__link">Trang chủ</a></li>
                <li><a href="./pages/about.html" class="desktop-nav__link">Giới thiệu</a></li>
                <li><a href="./pages/programmes.html" class="desktop-nav__link">Chương trình</a></li>
                <li><a href="./pages/booking.html" class="desktop-nav__link">Đặt vé</a></li>
                <li><a href="./pages/gallery.html" class="desktop-nav__link">Thư viện ảnh</a></li>
                <li><a href="./pages/news.html" class="desktop-nav__link">Tin tức</a></li>
                <li><a href="./pages/contact.html" class="desktop-nav__link">Liên hệ</a></li>
            </ul>
        </nav>
    </div>
</header>
