<div class="d-none d-xl-block header-style-2">
        <header class="tmp-header-area d-flex align-items-start flex-column header-left-sticky">
            <div class="inner-wrapper">
                <div class="logo-area">
                    <a href="../index-white/index.html">
                        <img src="../assets/images/logo/banner-user-image-04.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                    </a>
                </div>
                <nav id="sideNavs" class="mainme
