        <section class="latest-portfolio-area custom-column-grid">
            <h2 class="latest-portfolio-custom-title end">latest-portfolio</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="latest-portfolio-card v5 tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a href="../component/project-details.html">
                                        <img class="img-primary hidden-on-mobile" src="../assets/images/latest-portfolio/portfoli-img-4.jpg" alt="Blog Thumbnail">
                                        <img class="img-secondary" src="../assets/images/latest-portfolio/portfoli-img-4.jpg" alt="BLog Thumbnail">
                                    </a>
                                </div>
                                <a href="../component/project-details.html" class="img-link-icon"><i
                    class="fa-solid fa-arrow-up-long"></i></a>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a href="../component/project-details.html">I’ve had the privilege of working with various</a>
                                    </h3>
                                    <p class="portfoli-card-para"> Development Coaches</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="latest-portfolio-card v5 mt--40 tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a href="../component/project-details.html">
                                        <img class="img-primary hidden-on-mobile" src="../assets/images/latest-portfolio/portfoli-img-2.jpg" alt="Blog Thumbnail">
                                        <img class="img-secondary" src="../assets/images/latest-portfolio/portfoli-img-2.jpg" alt="BLog Thumbnail">
                                    </a>
                                </div>
                                <a href="../component/project-details.html" class="img-link-icon"><i
                    class="fa-solid fa-arrow-up-long"></i></a>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a href="../component/project-details.html">My work is driven by the belief that thoughtful.</a>
                                    </h3>
                                    <p class="portfoli-card-para"> Development Coaches</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="latest-portfolio-card v5 tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a href="../component/project-details.html">
                                        <img class="img-primary hidden-on-mobile" src="../assets/images/latest-portfolio/portfoli-img-3.jpg" alt="Blog Thumbnail">
                                        <img class="img-secondary" src="../assets/images/latest-portfolio/portfoli-img-3.jpg" alt="BLog Thumbnail">
                                    </a>
                                </div>
                                <a href="../component/project-details.html" class="img-link-icon"><i
                    class="fa-solid fa-arrow-up-long"></i></a>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a href="../component/project-details.html">In this portfolio, you’ll find a curated selection</a>
                                    </h3>
                                    <p class="portfoli-card-para"> Development Coaches</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="latest-portfolio-card v5 mt--40 tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a href="../component/project-details.html">
                                        <img class="img-primary hidden-on-mobile" src="../assets/images/latest-portfolio/portfoli-img-1.jpg" alt="Blog Thumbnail">
                                        <img class="img-secondary" src="../assets/images/latest-portfolio/portfoli-img-1.jpg" alt="BLog Thumbnail">
                                    </a>
                                </div>
                                <a href="../component/project-details.html" class="img-link-icon"><i
                    class="fa-solid fa-arrow-up-long"></i></a>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a href="../component/project-details.html">Digital
                                            Transformation Advisors</a>
                                    </h3>
                                    <p class="portfoli-card-para"> Development Coaches</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm Our Latest Portfolio  Area End -->
