<!-- tmp banner area start -->
    <div class="tmp-banner-one-area style-4" id="home">
        <div class="container">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="inner text-center">
                            <div class="thumbnail-author">
                                <img src="../assets/images/banner/banner-user-image-03.png" alt="personal-logo">
                            </div>
                            <h1 class="title  tmp-scroll-trigger tmp-fade-in animation-order-2">I’m
                                John Lee <br> A
                                <span class="header-caption">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">Web Designer</b>
                                            <b class="is-hidden theme-gradient">Web Developer</b>
                                            <b class="is-hidden theme-gradient">UI/UX Designer</b>
                                            <b class="is-hidden theme-gradient">Freelancer</b>
                                            <b class="is-hidden theme-gradient">Content Writer</b>
                                        </span>
                                </span>
                                </span>
                            </h1>

                            <div class="button-area-banner-one tmp-scroll-trigger tmp-fade-in animation-order-4 mt--30 mt_sm--20">
                                <button class="tmp-btn hover-icon-reverse radius-round download-btn" onclick="downloadFile()">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Download My CV</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="galaxy"></div>
        <div class="loader-bg-pattern-wrapper">
            <div class="loader-bg-pattern">
                <div class="box">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 94 94" class="svg">
                            <path d="M38.0481 4.82927C38.0481 2.16214 40.018 0 42.4481 0H51.2391C53.6692 0 55.6391 2.16214 55.6391 4.82927V40.1401C55.6391 48.8912 53.2343 55.6657 48.4248 60.4636C43.6153 65.2277 36.7304 67.6098 27.7701 67.6098C18.8099 67.6098 11.925 65.2953 7.11548 60.6663C2.37183 56.0036 3.8147e-06 49.2967 3.8147e-06 40.5456V4.82927C3.8147e-06 2.16213 1.96995 0 4.4 0H13.2405C15.6705 0 17.6405 2.16214 17.6405 4.82927V39.1265C17.6405 43.7892 18.4805 47.2018 20.1605 49.3642C21.8735 51.5267 24.4759 52.6079 27.9678 52.6079C31.4596 52.6079 34.0127 51.5436 35.6268 49.4149C37.241 47.2863 38.0481 43.8399 38.0481 39.0758V4.82927Z"></path>
                            <path d="M86.9 61.8682C86.9 64.5353 84.9301 66.6975 82.5 66.6975H73.6595C71.2295 66.6975 69.2595 64.5353 69.2595 61.8682V4.82927C69.2595 2.16214 71.2295 0 73.6595 0H82.5C84.9301 0 86.9 2.16214 86.9 4.82927V61.8682Z"></path>
                            <path d="M2.86102e-06 83.2195C2.86102e-06 80.5524 1.96995 78.3902 4.4 78.3902H83.6C86.0301 78.3902 88 80.5524 88 83.2195V89.1707C88 91.8379 86.0301 94 83.6 94H4.4C1.96995 94 0 91.8379 0 89.1707L2.86102e-06 83.2195Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
    <!-- tmp banner area end -->


    <!-- tmp About Me Start -->
    <section class="about-us-area tmp-section-gapTop" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-us-left-content-wrap bg-vactor-one">
                        <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h2 class="counter card-title"><span class="odometer" data-count="10">00</span>+
                            </h2>
                            <p class="card-para">years of experience</p>
                        </div>
                        <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="design-card-img">
                                <div class="icon"><i class="fa-sharp fa-thin fa-lock"></i></div>
                            </div>
                            <div class="card-info">
                                <h3 class="card-title">Ui/Ux Design</h3>
                                <p class="card-para">241 Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-right-content-wrap">
                        <div class="section-head text-align-left mb--50">
                            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <span class="subtitle">About Me</span>
                            </div>
                            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Boost
                                Business Strategic <br> Solutions with Us</h2>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                                consultants provide expert advice and guida
                                businesses to help them improve their performance, efficiency, and organizational</p>
                        </div>
                        <div class="about-us-section-card row g-5">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="../assets/images/about/logo-1.svg" alt="logo">
                                        </div>
                                        <h3 class="card-title">Business Solutions</h3>
                                    </div>
                                    <p class="card-para">Each one showcases my approach and dedication to detail, creativity
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="../assets/images/about/logo-2.svg" alt="logo">
                                        </div>
                                        <h3 class="card-title">Profit Partners</h3>
                                    </div>
                                    <p class="card-para">Business consulting consul us to a provide expert advice
                                        businesses
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="../component/about-white.html">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More About Me</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tmp About Me end -->

    <!-- Tpm Latest Service Area Start -->
    <section class="latest-service-area tmp-section-gapTop" id="service">
        <div class="container">
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Latest Service</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Inspiring The World One
                    <br> Project
                </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3"> Business consulting
                    consultants provide expert advice and guida
                    businesses to help them improve their performance, efficiency, and organizational </p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h2 class="service-card-num"><span>01.</span>Success Architects</h2>
                        <p class="service-para">Business consulting consultants provide expert advice and guida the a
                            businesses to help theme their performance efficiency</p>
                    </a>
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <h2 class="service-card-num"><span>02.</span>Success Architects</h2>
                        <p class="service-para">App consulting consultants provide expert advice and guida the a
                            businesses to help theme their performance efficiency</p>
                    </a>
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <h2 class="service-card-num"><span>03.</span>Success Architects</h2>
                        <p class="service-para">I specialize in creating solutions that are not only visually engaging but also align with business goals. From [list services, e.g., branding,</p>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <h2 class="service-card-num"><span>04.</span>Ui/visual Design</h2>
                        <p class="service-para">I’m proud of what I’ve accomplished and excited to share my journey with you. I’m proud of what I’ve accomplished and excited to.</p>
                    </a>
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                        <h2 class="service-card-num"><span>05.</span>Branding Design</h2>
                        <p class="service-para">Interested in working together? Let’s bring your ideas to life! Contact me, and let’s start building something amazing.</p>
                    </a>
                    <a href="../component/service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-6">
                        <h2 class="service-card-num"><span>06.</span>Motion Design</h2>
                        <p class="service-para">Feel free to browse through my recent projects. Each one showcases my approach and dedication to detail, creativity, and.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Latest Service Area End -->
