<!-- Tpm Blog and news Area Start -->
    <section class="blog-and-news-are tmp-section-gap">
        <div class="container">
            <div class="section-head mb--60">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Latest Blog</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Transforming Ideas into Exceptional <br> the man can Creations</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">

                        <div class="blog-card-img">
                            <div class="img-box">
                                <a href="blog-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-7.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-7.jpg" alt="BLog Thumbnail">
                                </a>
                            </div>
                            <span>12 Feb</span>
                        </div>
                        <div class="blog-content-wrap">
                            <div class="blog-tags">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="blog-title"><a href="blog-details.html">Inspiring the World, One Project at a
                                    Time for the
                                    man</a></h3>


                            <div class="read-more-btn">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="blog-card-img">
                            <div class="img-box">
                                <a href="blog-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-8.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-8.jpg" alt="BLog Thumbnail">
                                </a>
                            </div>
                            <span>12 Feb</span>
                        </div>
                        <div class="blog-content-wrap">
                            <div class="blog-tags">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="blog-title"><a href="blog-details.html">Let’s bring your ideas to life! Contact me, and let’s</a>
                            </h3>
                            <div class="read-more-btn">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="blog-card-img">
                            <div class="img-box">
                                <a href="blog-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-9.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-9.jpg" alt="BLog Thumbnail">
                                </a>
                            </div>
                            <span>12 Feb</span>
                        </div>
                        <div class="blog-content-wrap">
                            <div class="blog-tags">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="blog-title"><a href="blog-details.html">Each one showcases my approach and dedication man</a>
                            </h3>
                            <div class="read-more-btn">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>