                                <div class="tab-pane fade  show active" id="v-pills-Javascript" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <!-- Start about Area -->
                                    <div id="about" class="tmp-about-area">
                                        <div class="about-us-right-content-wrap">
                                            <div class="section-head text-align-left mb--50">
                                                <h2 class="custom-title mb--20 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                    About Me <span><img src="../assets/images/custom-line/custom-line.png"
                                                            alt="custom-line"></span>
                                                </h2>
                                                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">
                                                    Boost
                                                    Business Strategic <br> Solutions with Us </h2>
                                                <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">
                                                    Hello! I'm Fatima, a passionate your profession, e.g., Web
                                                    Developer, Graphic Designer, Data Analyst based in Dhaka. With a
                                                    strong focus on creativity, innovation, and a commitment to
                                                    continuous learning, I bring a unique blend of technical skills
                                                    and
                                                    artistic vision to each project I undertake.</p>
                                            </div>


                                            <div class="about-us-section-card row g-5">
                                                <h3>What I Do?</h3>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="about-us-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-4">
                                                        <div class="card-head">
                                                            <div class="logo-img">
                                                                <i class="fa-regular fa-code"></i>
                                                            </div>
                                                            <h3 class="card-title">Ui/Ux Design</h3>
                                                        </div>
                                                        <p class="card-para">Each one showcases my approach and
                                                            dedication to detail, creativity dedication to detail,
                                                            creativity
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="about-us-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-5">
                                                        <div class="card-head">
                                                            <div class="logo-img">
                                                                <i class="fa-light fa-palette"></i>
                                                            </div>
                                                            <h3 class="card-title">Web Development</h3>
                                                        </div>
                                                        <p class="card-para">Business consulting consul us to a provide
                                                            expert advice businesses expert advice businesses
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="about-us-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-4">
                                                        <div class="card-head">
                                                            <div class="logo-img">
                                                                <i class="fa-light fa-print"></i>
                                                            </div>
                                                            <h3 class="card-title">Business Solutions</h3>
                                                        </div>
                                                        <p class="card-para">Each one showcases my approach and
                                                            dedication to detail, creativity dedication to detail,
                                                            creativity
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="about-us-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-5">
                                                        <div class="card-head">
                                                            <div class="logo-img">
                                                                <i class="fa-regular fa-handshake"></i>
                                                            </div>
                                                            <h3 class="card-title">Profit Partners</h3>
                                                        </div>
                                                        <p class="card-para">Business consulting consul us to a provide
                                                            expert advice businesses provide advice businesses
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pt--60">
                                                <div class="row g-5">
                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                        <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-1">
                                                            <h3 class="counter counter-title"><span class="odometer" data-count="20">00</span>k
                                                            </h3>
                                                            <p class="counter-para">Our Project Complete</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                        <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-2">
                                                            <h3 class="counter counter-title"><span class="odometer" data-count="10">00</span>k
                                                            </h3>
                                                            <p class="counter-para">Our Natural Products</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                        <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-3">
                                                            <h3 class="counter counter-title"><span class="odometer" data-count="200">00</span>+
                                                            </h3>
                                                            <p class="counter-para">Clients Reviews</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                        <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-4">
                                                            <h3 class="counter counter-title"><span class="odometer" data-count="2">00</span>k+
                                                            </h3>
                                                            <p class="counter-para">our Satisfied Clientd</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End about Area -->
                                </div>

