<div class="tmp-banner-style-actress bg_image" id="home">
        <div class="container-full">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-12 ">
                        <div class="inner banner-actress">
                            <h1 class="title text-scale-anim tmp-fade-in mt--0">Julian Tobias</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>