<!-- service card style  -->
    <div class="service-card-style tmp-section-gap" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-card-box-1 tmponhover">
                        <div class="icon">
                            <i class="fa-solid fa-clapperboard-play"></i>
                        </div>
                        <h2 class="title">Film Acting</h2>
                        <p class="desc">
                            We stay ahead of the curve, leveraging cutting-edge technologies and strategies to keep you competitive in a marketplace.
                        </p>
                        <a href="../component/service-details.html" class="over-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-card-box-1 tmponhover">
                        <div class="icon">
                            <i class="fa-jelly-fill fa-regular fa-tv-retro"></i>
                        </div>
                        <h2 class="title">TV Commercials</h2>
                        <p class="desc">
                            Recognized by industry leaders, our award-winning team has a proven record of delivering excellence across projects.
                        </p>
                        <a href="../component/service-details.html" class="over-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-card-box-1 tmponhover">
                        <div class="icon">
                            <i class="fa-sharp-duotone fa-solid fa-box"></i>
                        </div>
                        <h2 class="title">Modeling</h2>
                        <p class="desc">
                            Our team is always available to address your concerns, providing quick and effective solution to keep your business.
                        </p>
                        <a href="../component/service-details.html" class="over-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service card style end -->