<!-- tmp banner area start -->
    <div class="tmp-banner-one-area model-style-banner with-instructor style-2" id="home" data-black-overlay="2">
        <div class="container">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-12 ">
                        <div class="inner banner-model-15">
                            <h1 class="title tmp-fade-in">
                                Julian Tobias
                            </h1>
                            <p class="disc tmp-fade-in">
                                German Super Model, Influencer & Youtuber</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-area-wrapper-varticle">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="hero-bg-video">
            <video autoplay="" muted="" loop="" id="myVideo">
                <source src="../assets/images/video/model.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <!-- tmp banner area end -->