<!-- Tpm Latest Portfolio Start -->
    <section class="tmp-latest-portfolio tmp-section-gapTop">
        <div class="container">
            <div class="header-top-inner">
                <div class="section-head text-align-left">
                    <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Recent Portfolio</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Transforming Ideas <br> into Exceptional</h2>
                </div>
                <div class="discription-area tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <p class="description"> Business consulting consultants provide expert advice and
                        guida
                        <span>businesses</span> to help them improve their performance, efficiency, and organizational
                    </p>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="../component/project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/portfolio/01.webp" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/portfolio/01.webp" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="../component/project-details.html">Wedding Hair Style</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Wedding</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Style</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="../component/project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="../component/project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/portfolio/02.webp" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/portfolio/02.webp" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="../component/project-details.html">Brand Promoting</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Promot</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Model</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="../component/project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="../component/project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/portfolio/03.webp" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/portfolio/03.webp" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="../component/project-details.html">Product Marketing</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Shirt</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Sell</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="../component/project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="../component/project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/portfolio/04.webp" alt="Blog Thumbnail">
                                    <img class="img-secondary col-md-6" src="../assets/images/portfolio/04.webp" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="../component/project-details.html">Dashboard design</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Adobe</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Webflow</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="../component/project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Design</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-all-btn-wrap text-center mt--60">
                <a class="tmp-btn hover-icon-reverse radius-round" href="#">
                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View All Portfolio</span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- Tpm Latest Portfolio End -->