<!-- tmp counter area start -->
    <div class="counter-funfacts-area tmp-section-gapBottom">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-1">
                        <h3 class="counter counter-title"><span class="odometer" data-count="20">00</span>k
                        </h3>
                        <p class="counter-para">Our Project Complete</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-2">
                        <h3 class="counter counter-title"><span class="odometer" data-count="10">00</span>k
                        </h3>
                        <p class="counter-para">Our Natural Products</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-3">
                        <h3 class="counter counter-title"><span class="odometer" data-count="200">00</span>+
                        </h3>
                        <p class="counter-para">Clients Reviews</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="counter-card tmp-scroll-trigger tmp-fade-in tmponhover animation-order-4">
                        <h3 class="counter counter-title"><span class="odometer" data-count="2">00</span>k+
                        </h3>
                        <p class="counter-para">our Satisfied Clientd</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tmp counter area end -->