<div class="tmp-about-area section-height tmponhover">
                            <div class="inner">
                                <h5 class="title">
                                    About Me
                                </h5>
                                <div class="separator-animated-border animated-true"></div>
                                <p class="about-disc mb--20">
                                    Hi, I’m a Front-End Developer skilled in creating modern websites, customizing WordPress themes & plugins, and designing portfolios with 2 years of Figma experience.
                                </p>
                                <p class="about-disc">
                                    I have three years of experience with HTML, CSS, JavaScript. And I can Design
                                    Your
                                    web application.
                                </p>
                            </div>
                        </div>