<div class="tmp-footer-area footer-style-4 mt--120 ptb--80 ptb_sm--60">
        <div class="separator-animated-border animated-true"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-area text-center">
                        <div class="logo">
                            <a href="../index/index.html">
                                <img src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                            </a>
                        </div>
                        <p class="description mt--30">©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            . All rights reserved by <a target="_blank" href="https://themeforest.net/user/inversweb/portfolio">InversWeb.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>