<div class="tmp-about-area section-height tmponhover">
                            <div class="inner">
                                <h5 class="title">
                                    My Testimonial
                                </h5>
                                <div class="separator-animated-border animated-true"></div>


                                <div class="swiper-testimonials-area-wrapper-card">
                                    <div class="swiper swiper-testimonials-one">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="testimonial-card style-2 tmp-scroll-trigger animation-order-1">
                                                    <div class="content">
                                                        <div class="testimonital-icon">
                                                            <img src="../assets/images/icons/quote-2.svg" alt="testimonial-icon">
                                                        </div>
                                                        <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                                        <h3 class="card-title">Cameron Williamson</h3>
                                                        <p class="card-para">Ui/Ux Designer</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-card style-2 tmp-scroll-trigger animation-order-2">
                                                    <div class="content">
                                                        <div class="testimonital-icon">
                                                            <img src="../assets/images/icons/quote-2.svg" alt="testimonial-icon">
                                                        </div>
                                                        <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                                        <h3 class="card-title">Leslie Alexander</h3>
                                                        <p class="card-para">Ui/Ux Designer</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-card style-2 tmp-scroll-trigger animation-order-1">
                                                    <div class="content">
                                                        <div class="testimonital-icon">
                                                            <img src="../assets/images/icons/quote-2.svg" alt="testimonial-icon">
                                                        </div>
                                                        <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                                        <h3 class="card-title">Cameron Williamson</h3>
                                                        <p class="card-para">Ui/Ux Designer</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>