<!-- tmp banner area start -->
    <div class="rpp-banner-five-area">
        <div class="container">
            <div class="banner-five-main-wrapper">
                <div class="inner">
                    <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-title-split">Hi, I am Brooklyn Simmons <br> a
                        Product Designer</h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="bg-benner-img-five">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/banner/banner-user-image-five.png" alt="banner-img-3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 order-lg-1">
                        <div class="banner-left-content">
                            <div class="banner-counter">
                                <ul>
                                    <li>
                                        <div class="banner-counter-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                                            <h4 class="counter title"><span class="odometer" data-count="40">00</span>k
                                            </h4>
                                            <p class="para">Winning award</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-counter-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                                            <h4 class="counter title"><span class="odometer" data-count="100">00</span>k
                                            </h4>
                                            <p class="para">Complete project</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-counter-card tmp-scroll-trigger tmp-fade-in animation-order-3">
                                            <h4 class="counter title"><span class="odometer" data-count="800">00</span>+
                                            </h4>
                                            <p class="para">Client review</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 order-lg-3">
                        <div class="banner-right-content">
                            <div class="banner-contact-info">
                                <div class="contact-info tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <h4 class="title">Biography :</h4>
                                    <p class="para">I'm a freelance product designer & developer based in London. I’m
                                        very passionate about the work I do.</p>
                                </div>
                                <div class="contact-info tmp-scroll-trigger tmp-fade-in animation-order-2">
                                    <h4 class="title">Contact :</h4>
                                    <p class="para">1179 KFC Road,Lisbon, Portugal</p>
                                    <p class="para">info@example.com</p>
                                    <p class="para">(629) 555-0129</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-img-bg">
            <img src="../assets/images/banner/banner-shape-five-bg.png" alt="shape-img">
        </div>
    </div>