<!-- tmp Latest Portfolio Start -->
    <section class="tmp-portfolio-area tmp-section-gap">
        <div class="container">
            <div class="section-head mb--60">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Latest Portfolio</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2"> Transforming Ideas into
                    Exceptional </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                    consultants provide expert advice and guida
                    businesses to help them improve their performance, efficiency, and organizational</p>
            </div>

            <div class="latest-portfolio-tabs-area">
                <nav>
                    <ul class="nav nav-tabs tmp-scroll-trigger tmp-fade-in animation-order-4" id="nav-tab" role="tablist">
                        <li>
                            <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true">All</button>
                        </li>
                        <li>
                            <button class="nav-link" id="nav-branding-tab" data-bs-toggle="tab" data-bs-target="#nav-branding" type="button" role="tab" aria-controls="nav-branding" aria-selected="false">Branding</button>
                        </li>
                        <li>
                            <button class="nav-link" id="nav-design-tab" data-bs-toggle="tab" data-bs-target="#nav-design" type="button" role="tab" aria-controls="nav-design" aria-selected="false">Design</button>
                        </li>
                        <li>
                            <button class="nav-link" id="nav-content-writing-tab" data-bs-toggle="tab" data-bs-target="#nav-content-writing" type="button" role="tab" aria-controls="nav-content-writing" aria-selected="false">Content writing</button>
                        </li>
                        <li>
                            <button class="nav-link" id="nav-marketing-tab" data-bs-toggle="tab" data-bs-target="#nav-marketing" type="button" role="tab" aria-controls="nav-marketing" aria-selected="false">Marketing</button>
                        </li>
                    </ul>
                </nav>
                <div class="tab-content bg-blur-style-three" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-1.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Portfolio of Innovation</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Showcase of My Projects</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Professional Showcase</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Journey as a Creator</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Journey Through My Work</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Portfolio of Art & Dedication</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-branding" role="tabpanel" aria-labelledby="nav-branding-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-7.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Journey Through My Work</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Showcase of My Projects</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Journey as a Creator</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Professional Portfolio</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Transforming Ideas into Reality</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Unveiling Potential</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-1.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Portfolio of Innovation</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Showcase of My Projects</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Professional Showcase</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Journey as a Creator</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Journey Through My Work</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Portfolio of Art & Dedication</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-content-writing" role="tabpanel" aria-labelledby="nav-content-writing-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-7.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Journey Through My Work</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Showcase of My Projects</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Journey as a Creator</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Professional Portfolio</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Transforming Ideas into Reality</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Unveiling Potential</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-marketing" role="tabpanel" aria-labelledby="nav-marketing-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-7.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Journey Through My Work</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">A
                                                    Showcase of My Projects</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Journey as a Creator</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">My
                                                    Professional Portfolio</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Transforming Ideas into Reality</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                    <div class="portfolio-card-content-wrap">
                                        <div class="content-left">
                                            <p class="portfoli-card-para">Development</p>
                                            <h3 class="portfolio-card-title animated fadeIn"><a href="project-details-white.html">Unveiling Potential</a></h3>
                                        </div>
                                        <div class="portfolio-btn">
                                            <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                                <div class="btn-inner">
                                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="project-details-white.html" class="over_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>