<section class="good-to-know-hero">
    <div class="good-to-know-hero__background">
        <!-- TODO: Add image assets/images/good-to-know/good-to-know-hero.avif -->
        <img class="good-to-know-hero__image" src="https://cdn.prod.website-files.com/6993543c5984cc663556ea4f/69a0acfd49864b371e8ee822_Good%20To%20Know%20_Header.jpg" alt="Ballymaloe Festival Atmosphere">
    </div>

    <div class="good-to-know-hero__overlay"></div>

    <div class="good-to-know-hero__content">
        <div class="good-to-know-hero__marquee">
            <div class="marquee-horizontal">
                <div class="marquee-content-block-item">
                    <span class="marquee-text">now</span>
                </div>
                <div class="marquee-content-block-item">
                    <span class="marquee-text marquee-text--solid">Good to Know</span>
                </div>
                <div class="marquee-content-block-item">
                    <span class="marquee-text">Good to Know</span>
                </div>
                <div class="marquee-content-block-item">
                    <span class="marquee-text">Good to Know</span>
                </div>
            </div>
        </div>

        <p class="good-to-know-hero__subtitle">
            Everything you need for a great Festival Weekend - Discover festival tips, practical info, accessibility details, accommodation options and ways to get involved - from volunteering to exhibiting or sponsoring - all in one place!
        </p>

        <a class="good-to-know-hero__button" href="pages/tickets.html">
            Buy Tickets
        </a>
    </div>
</section>
