<!-- tmp banner area start -->
    <div class="rpp-banner-three-area">
        <div class="container">
            <div class="banner-three-main-wrapper">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Hello i’m</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">Brooklyn Simmons</h1>
                            <div class="button-area-banner-three tmp-scroll-trigger tmp-fade-in animation-order-3">
                                <a class="tmp-btn hover-icon-reverse radius-round" href="project-details-white.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">View Portfolio</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="banner-right-content">
                            <div class="about-me tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <h3 class="title">About Me</h3>
                                <p class="para tmp-title-split">A personal <span>portfolio</span> is a collection of to your work, that
                                    is achievements, and a skills that <span>web design</span> highlights in your </p>
                            </div>
                            <div class="find-me-on mt--40 tmp-scroll-trigger tmp-fade-in animation-order-2">
                                <h2 class="find-me-on-title">Find me on</h2>
                                <div class="social-link banner">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-benner-img-three">
                    <img class="tmp-scroll-trigger tmp-zoom-in animation-order-2" src="../assets/images/banner/banner-user-image-three.png" alt="banner-img-3">
                </div>
                <h2 class="texts-one up-down-2">WEB DESIGN</h2>
                <h2 class="texts-two up-down">WEB DESIGN</h2>
            </div>
        </div>
    </div>