<!-- Tpm Testimonial Area Start -->
    <section class="testimonial-area tmp-section-gapTop">
        <div class="container">
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Our Testimonial</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Enhancing Collaboration
                    <br> between Remote
                </h2>
            </div>
            <div class="row g-5">
                <!-- Start Single Testimonial  -->

                <div class="col-lg-12">
                    <div class="swiper-testimonials-area-wrapper-card">
                        <div class="swiper swiper-testimonials-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-card tmponhover style-2 tmp-scroll-trigger animation-order-1">
                                        <div class="content">
                                            <div class="testimonital-icon">
                                                <img src="../assets/images/icons/quote.svg" alt="testimonial-icon">
                                            </div>
                                            <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                            <h3 class="card-title">Cameron Williamson</h3>
                                            <p class="card-para">Ui/Ux Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card tmponhover style-2 tmp-scroll-trigger animation-order-2">
                                        <div class="content">
                                            <div class="testimonital-icon">
                                                <img src="../assets/images/icons/quote.svg" alt="testimonial-icon">
                                            </div>
                                            <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                            <h3 class="card-title">Leslie Alexander</h3>
                                            <p class="card-para">Ui/Ux Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card tmponhover style-2 tmp-scroll-trigger animation-order-1">
                                        <div class="content">
                                            <div class="testimonital-icon">
                                                <img src="../assets/images/icons/quote.svg" alt="testimonial-icon">
                                            </div>
                                            <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                            <h3 class="card-title">Cameron Williamson</h3>
                                            <p class="card-para">Ui/Ux Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card tmponhover style-2 tmp-scroll-trigger animation-order-2">
                                        <div class="content">
                                            <div class="testimonital-icon">
                                                <img src="../assets/images/icons/quote.svg" alt="testimonial-icon">
                                            </div>
                                            <h2 class="text-doc">A personal portfolio is a curated collection of an individual's professional work, showcasing their skilA personal portfolio is a curated collection of an individual's professional work, showcasing their skills, </h2>
                                            <h3 class="card-title">Leslie Alexander</h3>
                                            <p class="card-para">Ui/Ux Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Single Testimonial  -->

            </div>
        </div>
    </section>