                                <div class="tab-pane fade" id="v-pills-Wordpress" role="tabpanel" aria-labelledby="v-pills-wordpress-tab">
                                    <!-- Start Portfolio Area -->
                                    <div class="tmp-portfolio-area" id="portfolio">
                                        <div class="inner">
                                            <div class="section-head text-align-left mb--50">
                                                <h2 class="custom-title mb--20 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                    My Completed Work <span><img
                                                        src="../assets/images/custom-line/custom-line.png"
                                                        alt="custom-line"></span>
                                                </h2>

                                                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Elevate your brand with a
                                                    the </h2>
                                                <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">ished fact that a reader will be distrol acted bioiiy desig ished fact that a reader <br> will acted ished fact that a reader will be distrol acted</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-1.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">My
                                                                        Portfolio of Innovation</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-2.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">A
                                                                        Showcase of My Projects</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-3.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">Professional
                                                                        Showcase</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-4.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">My
                                                                        Journey as a Creator</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-5.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">A
                                                                        Journey Through My Work</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="tmp-portfolio tmp-scroll-trigger tmp-fade-in animation-order-1">
                                                        <img src="../assets/images/latest-portfolio/tab-image-6.png" alt="tab-image">
                                                        <div class="portfolio-card-content-wrap">
                                                            <div class="content-left">
                                                                <p class="portfoli-card-para">Development</p>
                                                                <h3 class="portfolio-card-title animated fadeIn"><a href="../component/project-details.html">A
                                                                        Portfolio of Art & Dedication</a></h3>
                                                            </div>
                                                            <div class="portfolio-btn">
                                                                <a href="../component/project-details.html" class="tmp-arrow-icon-btn">
                                                                    <div class="btn-inner">
                                                                        <i
                                                                            class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                                                        <i
                                                                            class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="../component/project-details.html" class="over_link"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End portfolio Area -->
                                </div>

