                    <div class="d-flex flex-wrap align-content-start h-100 w-100 tab-content-overlay-to-top" id="home">
                        <div class="position-sticky sticky-top tmp-sticky-top w-100">
                            <div class="tmp-contact-about-inner">
                                <div class="thumbnail">
                                    <img src="../assets/images/banner/banner-user-image-03.png" alt="contact-img">
                                </div>
                                <div class="content">
                                    <div class="title-area">
                                        <h4 class="title">John Lee</h4>
                                        <span class="subtitle">Chief Operating Officer</span>
                                    </div>
                                    <div class="description">
                                        <div class="info-box">
                                            <span class="phone">Phone: <a href="tel:01941043264">+01234567890</a></span>
                                            <span class="mail">Email: <a
                                                    href="mailto:admin@example.com">admin@example.com</a></span>
                                        </div>
                                    </div>
                                    <div class="social-area mb--30">
                                        <div class="social-link justify-content-center">
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        </div>
                                    </div>
                                    <div class="button-area-banner-one text-xl-center text-start">
                                        <button class="tmp-btn hover-icon-reverse radius-round download-btn" onclick="downloadFile()">
                                            <span class="icon-reverse-wrapper">
                                                <span class="btn-text">Download My CV</span>
                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
