    <!-- Tpm My Expertise Area start -->
    <section class="my-expertise-area tpm-custom-box-bg">
        <div class="container">
            <div class="header-top-inner">
                <div class="section-head text-align-left">
                    <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">My Expertise</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Elevated Designs
                        Personalized <br> the best Experiences</h2>
                </div>
                <div class="discription-area tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <p class="description color-primary-3rd"> Business consulting consultants provide expert advice and
                        guida businesses to help them improve their performance, efficiency, and organizational
                    </p>
                </div>
            </div>
            <div class="services-widget v2">
                <div class="service-item current tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <div class="my-expertise-card-wrap">
                        <div class="expertise-card-left">
                            <div class="expertise-card-logo">
                                <img src="../assets/images/my-expertise/logo-4.svg" alt="logo">
                            </div>
                            <h3 class="title">Ui/visual Design</h3>
                        </div>
                        <div class="single-progress-circle sal-animate" data-sal-delay="300" data-sal="slide-up" data-sal-duration="1000">
                            <svg class="radial-progress" data-countervalue="90" viewBox="0 0 80 80">
                                <circle class="bar-static" cx="40" cy="40" r="35"></circle>
                                <circle class="bar--animated" cx="40" cy="40" r="35" style="stroke-dashoffset: 131.947px;"></circle>
                                <text class="countervalue" x="50%" y="55%" transform="matrix(0, 1, -1, 0, 80, 0)">90%</text>
                            </svg>
                        </div>
                        <p class="para">A personal portfolio is a curated collection of an individual's professional
                            work, showcasing their skills</p>
                    </div>
                    <button class="service-link modal-popup"></button>
                </div>
                <div class="service-item tmp-scroll-trigger tmp-fade-in animation-order-2">
                    <div class="my-expertise-card-wrap">
                        <div class="expertise-card-left">
                            <div class="expertise-card-logo">
                                <img src="../assets/images/my-expertise/logo-5.svg" alt="logo">
                            </div>
                            <h3 class="title">Branding Design</h3>
                        </div>
                        <div class="single-progress-circle sal-animate" data-sal-delay="300" data-sal="slide-up" data-sal-duration="1000">
                            <svg class="radial-progress" data-countervalue="40" viewBox="0 0 80 80">
                                <circle class="bar-static" cx="40" cy="40" r="35"></circle>
                                <circle class="bar--animated" cx="40" cy="40" r="35" style="stroke-dashoffset: 131.947px;"></circle>
                                <text class="countervalue" x="50%" y="55%" transform="matrix(0, 1, -1, 0, 80, 0)">75%</text>
                            </svg>
                        </div>
                        <p class="para">I specialize in creating solutions that are not only visually engaging but also align with business goals</p>
                    </div>
                    <button class="service-link modal-popup"></button>
                </div>
                <div class="service-item tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <div class="my-expertise-card-wrap">
                        <div class="expertise-card-left">
                            <div class="expertise-card-logo">
                                <img src="../assets/images/my-expertise/logo-6.svg" alt="logo">
                            </div>
                            <h3 class="title">Motion Design</h3>
                        </div>
                        <div class="single-progress-circle sal-animate" data-sal-delay="300" data-sal="slide-up" data-sal-duration="1000">
                            <svg class="radial-progress" data-countervalue="40" viewBox="0 0 80 80">
                                <circle class="bar-static" cx="40" cy="40" r="35"></circle>
                                <circle class="bar--animated" cx="40" cy="40" r="35" style="stroke-dashoffset: 131.947px;"></circle>
                                <text class="countervalue" x="50%" y="55%" transform="matrix(0, 1, -1, 0, 80, 0)">80%</text>
                            </svg>
                        </div>
                        <p class="para">Each one showcases my approach and dedication to detail, creativity, and results-driven outcomes.</p>
                    </div>
                    <button class="service-link modal-popup"></button>
                </div>
                <div class="active-bg wow fadeInUp mleave"></div>
            </div>
        </div>
    </section>
    <!-- Tpm My Expertise Area End -->
