    <!-- tmp banner area start -->
    <div class="rpp-banner-two-area">
        <div class="container">
            <div class="banner-two-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="banner-right-content">
                            <div class="main-img">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/banner/banner-user-image-two.png" alt="banner-img">
                                <h2 class="banner-big-text-1 up-down-2">Ux Designer</h2>
                                <h2 class="banner-big-text-2 up-down">Ux Designer</h2>
                                <div class="benner-two-bg-red-img">
                                    <img src="../assets/images/banner/banner-user-image-two-red-bg.png" alt="red-img">
                                </div>
                                <div class="logo-under-img-wrap">
                                    <div class="logo-under-img">
                                        <img src="../assets/images/banner/logo-under-image.png" alt="logo-under-image">
                                    </div>
                                    <div class="logo-under-img-2">
                                        <img src="../assets/images/banner/logo-under-image-2.png" alt="logo-under-image">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 mt--100">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">I am</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">
                                Ralph Edwards, a Full Stuck <br>
                                <span class="header-caption">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">Web Designer</b>
                                            <b class="is-hidden theme-gradient">Web Developer</b>
                                            <b class="is-hidden theme-gradient">UI/UX Designer</b>
                                            <b class="is-hidden theme-gradient">Stylish Model</b>
                                            <b class="is-hidden theme-gradient">Content Writer</b>
                                        </span>
                                </span>
                                </span>
                            </h1>
                            <p class="disc tmp-scroll-trigger inv-title-animation-wrap tmp-fade-in animation-order-3"> A personal
                                <span>portfolio</span> is a collection of your work, that is
                                achievements, and skills that highlights in your abilities and professional <span>web
                                    design</span> growth. It serves as
                            </p>
                            <div class="button-area-banner-two tmp-scroll-trigger tmp-fade-in animation-order-4">

                                <a class="tmp-btn hover-icon-reverse radius-round" href="../component/about.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">More About Us</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                            <div class="find-me-on tmp-scroll-trigger tmp-fade-in animation-order-5">
                                <h2 class="find-me-on-title">Find me on</h2>
                                <div class="social-link banner">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="banner-shape-two">
            <img src="../assets/images/banner/banner-shape-two.png" alt="">
        </div>
    </div>
    <!-- tmp banner area end -->
