    <!-- tmp text para start -->
    <div class="about-content-area">
        <div class="container tmp-section-gap">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in inv-title-animation-wrap animation-order-1">A personal
                    <span>portfolio</span> is a collection of your work, that is aa
                    go achievements, and skills that highlights <span>web design</span> in your is abilities and
                    professional growth. It serves as A personal to a portfolio in <span>since 2009</span> a collection
                    of
                    your work
                </h2>
                <div class="right-bg-text-para">
                    <img src="../assets/images/banner/right-bg-text-para-doc.png" alt="">
                </div>
                <div class="left-bg-text-para">
                    <img src="../assets/images/banner/left-bg-text-para-doc.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- tmp text para end -->
