    <!-- tmp About Me Start -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-us-left-content-wrap bg-vactor-one">
                        <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h2 class="counter card-title"><span class="odometer" data-count="10">00</span>+
                            </h2>
                            <p class="card-para">years of experience</p>
                        </div>
                        <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="design-card-img">
                                <div class="icon"><i class="fa-sharp fa-thin fa-lock"></i></div>
                            </div>
                            <div class="card-info">
                                <h3 class="card-title">Ui/Ux Design</h3>
                                <p class="card-para">241 Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-right-content-wrap">
                        <div class="section-head text-align-left mb--50">
                            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <span class="subtitle">About Me</span>
                            </div>
                            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Boost
                                Business Strategic <br> Solutions with Us</h2>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                                consultants provide expert advice and guida
                                businesses to help them improve their performance, efficiency, and organizational</p>
                        </div>
                        <div class="about-us-section-card row g-5">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="../assets/images/about/logo-1.svg" alt="logo">
                                        </div>
                                        <h3 class="card-title">Business Solutions</h3>
                                    </div>
                                    <p class="card-para">Each one showcases my approach and dedication to detail, creativity
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="../assets/images/about/logo-2.svg" alt="logo">
                                        </div>
                                        <h3 class="card-title">Profit Partners</h3>
                                    </div>
                                    <p class="card-para">Business consulting consul us to a provide expert advice
                                        businesses
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="../component/about.html">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More About Me</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tmp About Me end -->
