    <!-- tpm-header-area start -->
    <header class="tmp-header-area-start header-one header--sticky header--transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-content">
                        <div class="logo">
                            <a href="../index/index.html">
                                <img class="logo-dark" src="../assets/images/logo/white-logo-reeni-3.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                                <img class="logo-white" src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                            </a>
                        </div>
                        <nav class="tmp-mainmenu-nav d-none d-xl-block">
                            <ul class="tmp-mainmenu">
                                <li>
                                    <a href="#">Home
                                    </a>
                                    <!-- <ul class="submenu">
            <li><a href="../index/index.html">Home 01</a></li>
            <li><a href="../index-02/index.html">Home 02</a></li>
            <li><a href="../index-03/index.html">Home 03</a></li>
            <li><a href="../index-04/index.html">Home 04</a></li>
            <li><a href="../index-05/index.html">Home 05</a></li>
            <li><a href="../index-06/index.html">Home 06</a></li>
            <li><a href="../index-07/index.html">Home 07</a></li>
            <li><a href="../index-08/index.html">Home 08</a></li>
            <li><a href="../index-09/index.html">Home 09</a></li>
            <li><a href="../index-10/index.html">Home 10</a></li>
            <li><a href="../index-11/index.html">Home 11</a></li>
            <li><a href="../index-12/index.html">Home 12</a></li>
            <li><a href="../index-13/index.html">Home 13</a></li>
        </ul> -->
                                </li>
                                <li>
                                    <a href="../component/about.html">About</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Services
                                        <i class="fa-regular fa-chevron-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li><a href="../component/service.html">Service</a></li>
                                        <li><a href="../component/service-details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Blog
                                        <i class="fa-regular fa-chevron-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li><a href="../component/blog.html">Blog Classic</a></li>
                                        <li><a href="../component/blog-col-4.html">Blog Column 3</a></li>
                                        <li><a href="../component/blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Project
                                        <i class="fa-regular fa-chevron-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li><a href="../component/project.html">Project</a></li>
                                        <li><a href="../component/project-style-two.html">Project Style 2</a></li>
                                        <li><a href="../component/project-style-three.html">Project Style 3</a></li>
                                        <li><a href="../component/project-details.html">Project Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../component/contact.html">Contact</a>
                                </li>
                            </ul>

                        </nav>
                        <div class="tmp-header-right">
                            <div class="social-share-wrapper d-none d-md-block">
                                <div class="social-link">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>
                            <div class="actions-area">
                                <div class="tmp-side-collups-area d-none d-xl-block">
                                    <button class="tmp-menu-bars tmp_button_active"><i class="fa-regular fa-bars-staggered"></i></button>
                                </div>
                                <div class="tmp-side-collups-area d-block d-xl-none">
                                    <button class="tmp-menu-bars humberger_menu_active"><i class="fa-regular fa-bars-staggered"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- tpm-header-area end -->
