    <div class="d-block d-xl-none">
        <div class="tmp-popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                        <a href="../index/index.html" class="logo-area">
                            <img class="logo-dark" src="../assets/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                            <img class="logo-white" src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                        </a>

                    </div>
                    <div class="close-menu">
                        <button class="close-button tmp-round-action-btn">
                            <i class="fa-sharp fa-light fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <ul class="tmp-mainmenu">
                    <li>
                        <a href="#">Home
                        </a>
                        <!-- <ul class="submenu">
            <li><a href="../index/index.html">Home 01</a></li>
            <li><a href="../index-02/index.html">Home 02</a></li>
            <li><a href="../index-03/index.html">Home 03</a></li>
            <li><a href="../index-04/index.html">Home 04</a></li>
            <li><a href="../index-05/index.html">Home 05</a></li>
            <li><a href="../index-06/index.html">Home 06</a></li>
            <li><a href="../index-07/index.html">Home 07</a></li>
            <li><a href="../index-08/index.html">Home 08</a></li>
            <li><a href="../index-09/index.html">Home 09</a></li>
            <li><a href="../index-10/index.html">Home 10</a></li>
            <li><a href="../index-11/index.html">Home 11</a></li>
            <li><a href="../index-12/index.html">Home 12</a></li>
            <li><a href="../index-13/index.html">Home 13</a></li>
        </ul> -->
                    </li>
                    <li>
                        <a href="../component/about.html">About</a>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Services
                            <i class="fa-regular fa-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li><a href="../component/service.html">Service</a></li>
                            <li><a href="../component/service-details.html">Service Details</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Blog
                            <i class="fa-regular fa-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li><a href="../component/blog.html">Blog Classic</a></li>
                            <li><a href="../component/blog-col-4.html">Blog Column 3</a></li>
                            <li><a href="../component/blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Project
                            <i class="fa-regular fa-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li><a href="../component/project.html">Project</a></li>
                            <li><a href="../component/project-style-two.html">Project Style 2</a></li>
                            <li><a href="../component/project-style-three.html">Project Style 3</a></li>
                            <li><a href="../component/project-details.html">Project Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../component/contact.html">Contact</a>
                    </li>
                </ul>


                <div class="social-wrapper mt--40">
                    <span class="subtitle">find with me</span>
                    <div class="social-link">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <!-- social area end -->



            </div>
        </div>
    </div>
