    <!-- Tpm My Skill Area Start -->
    <section class="my-skill-area-style-two plr--120 plr_lg--30 plr_md--30 plr_sm--30 plr_mobile--15 mt--70">
        <div class="tpm-custom-box-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 col-lg-12 col-md-12">
                        <div class="my-skill-area-left-content-wrap">
                            <div class="section-head text-align-left">
                                <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <span class="subtitle">My Skill</span>
                                </div>
                                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">My Experts
                                    Areas Where I <br> Gained Skill</h2>
                                <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                                    consultants provide expert advice and guida busi
                                    nesses to help them improve their performance, efficiency, and organ izational Business
                                    consulting consultants provide</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-12 col-md-12">
                        <div class="my-skill-card-style-two row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="my-skill-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <div class="card-icon">
                                        <img src="../assets/images/icons/icon-01.png" alt="my-skill-icon">
                                    </div>
                                    <h3 class="card-title">Framer</h3>
                                    <p class="card-para">The personal portfol category includes websites or physic Your
                                        Journey Your Story</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="my-skill-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                                    <div class="card-icon">
                                        <img src="../assets/images/icons/icon-02.png" alt="my-skill-icon">
                                    </div>
                                    <h3 class="card-title">Webflow</h3>
                                    <p class="card-para">The personal portfol category includes websites or physic Your
                                        Journey Your Story</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="my-skill-card tmp-scroll-trigger tmp-fade-in animation-order-3">
                                    <div class="card-icon">
                                        <img src="../assets/images/icons/icon-03.png" alt="my-skill-icon">
                                    </div>
                                    <h3 class="card-title">Figma</h3>
                                    <p class="card-para">The personal portfol category includes websites or physic Your
                                        Journey Your Story</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="my-skill-card tmp-scroll-trigger tmp-fade-in animation-order-4">
                                    <div class="card-icon">
                                        <img src="../assets/images/icons/icon-04.png" alt="my-skill-icon">
                                    </div>
                                    <h3 class="card-title">Wordpress</h3>
                                    <p class="card-para">The personal portfol category includes websites or physic Your
                                        Journey Your Story</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm My Skill Area End -->
