<div class="tmp-footer-area-style-net tmp-section-gapTop">
        <div class="footer-style-3">
            <div class="tmp-callto-action tmp-call-to-action bg_patern-1 style-8 content-wrapper">
                <div class="container">
                    <div class="row row--0 align-items-center ">
                        <div class="col-lg-12">
                            <div class="inner">
                                <div class="content text-center">
                                    <h2 class="title sal-animate">Ready to start creating a <br> standard website?</h2>
                                    <h6 class="subtitle sal-animate">Finest choice for your home &amp; office</h6>
                                    <div class="call-to-btn text-center mt--30 d-flex justify-content-center sal-animate"><a class="tmp-btn btn-icon" target="_blank" href="https://themeforest.net/item/reeni-personal-portfolio-html-template/56387656">Purchase Reeni <i class="icon feather-arrow-right"> </i></a></div>
