<div class="personal-page-inner-wrapper">
        <div class="container-fluid-13">
            <div class="row">
                <div class="col-xl-4">
                    <div class="profile-image-1-personal-left-fixed">
                        <img src="../assets/images/banner/portfolio-image.jpg" alt="business-coatch">
                        <h3 class="title">Hello I'm <br> John Deon <br> a
                            <span class="header-caption">
                                <span class="cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper" style="width: 228.812px;">
                                        <b class="theme-gradient is-visible">Developer</b>
                                        <b class="theme-gradient is-hidden">Designer</b>
                                        <b class="theme-gradient is-hidden">Writer</b>
                                    </span>
                            </span>
                            </span>
                        </h3>
                        <ul class="social-icon social-default color-lessdark justify-content-center">
                            <li><a href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkdin.com/">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8 pl--70 pl_md--15 pl_sm--15 pt--70">
                    <div class="personal-portfolio-right-inner-wrapper">
                        <div class="banner-personal-portfolio pt--70 pb--60 pt_md--0 pt_sm--0">
                            <div class="section-header">
                                <h4 class="subtitle tmp-title-split">
                                    <i class="fa-regular fa-house"></i> Introduce
                                </h4>
                                <h1 class="tmp-title-split">Say Hi from <span>John Deon</span>, <br> Framer Designer and Developer</h1>
                                <p class="tmp-title-split">I design and code beautifully simple things and i love what i do. Just simple like that!</p>
                            </div>
                        </div>

                        <div class="counterup-area-personal tmp-section-gapBottom">
                            <div class="row g-5">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="count-box counter-style-2 border-style small-radious text-center">
                                        <div>
                                            <h3 class="count-number tmponhover"><span class="odometer" data-count="320">00</span></h3>
                                        </div>
                                        <h5 class="title">Happy Clients.</h5>
                                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="count-box counter-style-2 border-style small-radious text-center">
                                        <div>
                                            <h3 class="count-number tmponhover"><span class="odometer" data-count="299">00</span></h3>
                                        </div>
                                        <h5 class="title">Employees</h5>
                                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="count-box counter-style-2 border-style small-radious text-center">
                                        <div>
                                            <h3 class="count-number tmponhover"><span class="odometer" data-count="199">00</span></h3>
                                        </div>
                                        <h5 class="title">Running Work</h5>
                                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="banner-personal-portfolio signle-section tmp-section-gapBottom">
                            <div class="section-header pb--50">
                                <h4 class="subtitle">
                                    <i class="fa-regular fa-user"></i> About Me
                                </h4>
                                <h2 class="title tmp-title-split">Every great design begin with <br>
                                    an even <span>better story</span></h2>
                                <p class="about-desc">Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chopsone design problem at a time.</p>
                            </div>

                            <div class="single-progress large-size  no-radius">
                                <h6 class="title">Web Development</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                    <span class="progress-number">90%</span>
                                </div>
                            </div>

                            <div class="single-progress large-size  no-radius">
                                <h6 class="title">Photoshop Design</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                    <span class="progress-number">75%</span>
                                </div>
                            </div>

                            <div class="single-progress large-size  no-radius">
                                <h6 class="title">App Development</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                    <span class="progress-number">95%</span>
                                </div>
                            </div>

                            <div class="single-progress large-size  no-radius">
                                <h6 class="title">Application Development</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                    <span class="progress-number">45%</span>
                                </div>
                            </div>

                        </div>



                        <div class="tmp-section-gapBottom banner-personal-portfolio experience-style-list signle-section">
                            <div class="section-header pb--20">
                                <h4 class="subtitle wow move-right">
                                    <i class="fa-regular fa-user"></i> My Resume
                                </h4>
                                <h2 class="title tmp-title-split">Education & <span>Experience</span></h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="content">
                                        <div class="experience-list">

                                            <!-- Start Single List  -->
