<div class="personal-page-inner-wrapper">
        <div class="container-fluid-13">
            <div class="row">
                <div class="col-xl-4">
                    <div class="profile-image-1-personal-left-fixed">
                        <img src="../assets/images/banner/portfolio-image.jpg" alt="business-coatch">
                        <h3 class="title">Hello I'm <br> John Deon <br> a
                            <span class="header-caption">
                                <span class="cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper" style="width: 228.812px;">
                                        <b class="theme-gradient is-visible">Developer</b>
                                        <b class="theme-gradient is-hidden">Designer</b>
                                        <b class="theme-gradient is-hidden">Writer</b>
                                    </span>
                            </span>
                            </span>
                        </h3>
                        <ul class="social-icon social-default color-lessdark justify-content-center">
                            <li><a href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkdin.com/">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
