    <!-- tmp banner area start -->
    <div class="rpp-banner-six-area">
        <div class="container">
            <div class="banner-six-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-7 order-lg-2">
                        <div class="banner-right-content">
                            <div class="bg-benner-img-six">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/banner/banner-user-image-six.png" alt="banner-img-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Web
                                Developer</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">Jackson Clark</h1>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3"> Outsourcing can
                                provide corporate businesses with several
                                advantages, incl b usinesses Outsourcing can provide</p>
                            <div class="button-area-banner-three tmp-scroll-trigger tmp-fade-in animation-order-4">
                                <a class="tmp-btn hover-icon-reverse radius-round" href="../component/portfolio-details.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">View Portfolio</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-left-shape">
            <img src="../assets/images/banner/bg-six-shape-left-side.png" alt="">
        </div>
    </div>
    <!-- tmp banner area end -->
