<div class="page-with-left-header">

        <!-- tmp banner area start -->
        <div class="tmp-banner-one-area" id="home">
            <div class="container">
                <div class="banner-one-main-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="banner-right-content">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/banner/banner-user-image-02.png" alt="banner-img">
                                <h2 class="banner-big-text-1 up-down">WEB DESIGNER</h2>
                                <h2 class="banner-big-text-2 up-down-2">WEB DESIGNER</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="inner">
                                <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Hello</span>
                                <h1 class="title mt--5  tmp-scroll-trigger tmp-fade-in animation-order-2">
                                    i’m
                                    Jane Cooper <br> A
                                    <span class="header-caption">
                                        <span class="cd-headline clip is-full-width">
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible theme-gradient">Web Designer</b>
                                                <b class="is-hidden theme-gradient">Web Developer</b>
                                                <b class="is-hidden theme-gradient">UI/UX Designer</b>
                                                <b class="is-hidden theme-gradient">Freelancer</b>
                                                <b class="is-hidden theme-gradient">Content Writer</b>
                                            </span>
                                    </span>
                                    </span>
                                </h1>
                                <p class="disc tmp-scroll-trigger tmp-fade-in animation-order-3"> A personal portfolio
                                    is a
                                    collection of your work, achievements, and skills
                                    that highlights your abilities and professional growth. It serves as </p>
                                <div class="button-area-banner-one tmp-scroll-trigger tmp-fade-in animation-order-4">
                                    <a class="tmp-btn hover-icon-reverse radius-round" href="project-details-white.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">View Portfolio</span>
                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="particles-js"></div>
        </div>
        <!-- tmp banner area end -->

        <section class="latest-service-area tmp-section-gapTop" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h2 class="service-card-num"><span>01.</span>Success Architects</h2>
                            <p class="service-para">Business consulting consultants provide expert advice and guida the a
                                businesses to help theme their performance efficiency</p>
                        </a>
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <h2 class="service-card-num"><span>02.</span>Success Architects</h2>
                            <p class="service-para">App consulting consultants provide expert advice and guida the a
                                businesses to help theme their performance efficiency</p>
                        </a>
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <h2 class="service-card-num"><span>03.</span>Success Architects</h2>
                            <p class="service-para">I specialize in creating solutions that are not only visually engaging but also align with business goals. From [list services, e.g., branding,</p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <h2 class="service-card-num"><span>04.</span>Ui/visual Design</h2>
                            <p class="service-para">I’m proud of what I’ve accomplished and excited to share my journey with you. I’m proud of what I’ve accomplished and excited to.</p>
                        </a>
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                            <h2 class="service-card-num"><span>05.</span>Branding Design</h2>
                            <p class="service-para">Interested in working together? Let’s bring your ideas to life! Contact me, and let’s start building something amazing.</p>
                        </a>
                        <a href="service-details.html" class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <h2 class="service-card-num"><span>06.</span>Motion Design</h2>
                            <p class="service-para">Feel free to browse through my recent projects. Each one showcases my approach and dedication to detail, creativity, and.</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tpm Latest Portfolio Area Start -->
        <div class="latest-portfolio-area custom-column-grid tmp-section-gapTop" id="portfolio">
            <div class="container">
                <div class="section-head mb--60">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Latest Portfolio</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Transforming Ideas
                        into
                        <br> Exceptional
                    </h2>
                    <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business
                        consulting
                        consultants provide expert advice and guida
                        businesses to help them improve their performance, efficiency, and organizational</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="project-details-white.html">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-1.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="project-details-white.html">Digital
                                            Transformation Advisors</a></h3>
                                    <p class="portfoli-card-para">Development Coaches</p>
                                </div>
                                <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="project-details-white.html">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-2.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="project-details-white.html">My work is driven by the belief that thoughtful.</a></h3>
                                    <p class="portfoli-card-para">Development App</p>
                                </div>
                                <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="project-details-white.html">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-3.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="project-details-white.html">In this portfolio, you’ll find a curated selection</a></h3>
                                    <p class="portfoli-card-para">Web Design</p>
                                </div>
                                <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="project-details-white.html">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-4.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="project-details-white.html">I’ve had the privilege of working with various</a></h3>
                                    <p class="portfoli-card-para">App Development</p>
                                </div>
                                <a href="project-details-white.html" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tpm Latest Portfolio Area End -->

        <!-- Tpm Education Experience Area Start -->
        <section class="education-experience tmp-section-gapTop" id="resume">
            <div class="container">
                <div class="section-head mb--50">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Education & Experience</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Empowering
                        Creativity
                        <br> through
                    </h2>
                    <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business
                        consulting
                        consultants provide expert advice and guida
                        businesses to help them improve their performance, efficiency, and organizational</p>
                </div>
                <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Education <span><img
                                src="../assets/images/custom-line/custom-line.png" alt="custom-line"></span>
                </h2>
                <div class="row g-5">
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h4 class="edu-sub-title">Trainer Marketing</h4>
                            <h2 class="edu-title">2005-2009</h2>
                            <p class="edu-para">A personal portfolio is a curated collection of an individual's professional
                                work, showcasing their skills, experience A personal portfolio.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <h4 class="edu-sub-title">Assistant Director</h4>
                            <h2 class="edu-title">2010-2014</h2>
                            <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <h4 class="edu-sub-title">Design Assistant</h4>
                            <h2 class="edu-title">2008-2012</h2>
                            <p class="edu-para">I’ve had the privilege of working with various clients, from startups to established companies, helping bring their visions to life.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <h4 class="edu-sub-title">Design Assistant</h4>
                            <h2 class="edu-title">2008-2012</h2>
                            <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs a personal.</p>
                        </div>
                    </div>
                </div>
                <div class="experiences-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="experiences-wrap-left-content">
                                <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Experiences <span><img
                            src="../assets/images/custom-line/custom-line.png" alt="custom-line"></span></h2>

                                <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <p class="ex-subtitle">experience</p>
                                    <h2 class="ex-name">Soft Tech (2 Years)</h2>
                                    <h3 class="ex-title">UI/UX Designer</h3>
                                    <p class="ex-para">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        desi dolore eu fugiat nulla pariatu Duis aute irure.</p>
                                </div>
                                <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-2">
                                    <p class="ex-subtitle">experience</p>
                                    <h2 class="ex-name">ModernTech (3 Years)</h2>
                                    <h3 class="ex-title">App Developer</h3>
                                    <p class="ex-para">In this portfolio, you’ll find a curated selection of projects that highlight my skills in [Main Areas, e.g., responsive web design.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="experiences-wrap-right-content">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/experiences/expert-img.jpg" alt="expert-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm Education Experience Area End -->


        <!-- Tpm Our Supported Company Area Start -->
        <div class="our-supported-company-area tmp-section-gapTop" id="clients">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <img src="../assets/images/our-supported-company/company-logo-1.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <img src="../assets/images/our-supported-company/company-logo-2.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <img src="../assets/images/our-supported-company/company-logo-3.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <img src="../assets/images/our-supported-company/company-logo-4.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-5">
                            <img src="../assets/images/our-supported-company/company-logo-5.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <img src="../assets/images/our-supported-company/company-logo-6.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-7">
                            <img src="../assets/images/our-supported-company/company-logo-7.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-8">
                            <img src="../assets/images/our-supported-company/company-logo-8.svg" alt="Reeni - Personal Portfolio HTML Template">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tpm Our Supported Company Area End -->

        <!-- Tpm My Price plan Start -->
        <section class="our-price-plan-area tmp-section-gapTop" id="pricing">
            <div class="container">
                <div class="section-head mb--60">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">My Price plan</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Enhancing
                        Collaboration
                        <br> between Remote
                    </h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="price-plan-card tmponhover blur-style-two tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <span class="price-sub-title">Starter</span>
                            <h3 class="main-price">$ 5.00</h3>
                            <p class="per-month">Per Month</p>
                            <div class="check-box">
                                <ul>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">5 Social Media Account</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">Free Platform Access</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">24/7 Customer Support</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse btn-border btn-md radius-round" href="contact-white.html">
                                    <span class="icon-reverse-wrapper">
                    <span class="btn-text">Get Started</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="price-plan-card tmponhover blur-style-two active">
                            <span class="price-sub-title">Basic</span>
                            <h3 class="main-price">$ 230.00</h3>
                            <p class="per-month">Per Month</p>
                            <div class="check-box">
                                <ul>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">5 Social Media Account</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">Free Platform Access</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">Marketing Platform</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">24/7 Customer Support</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">Life time support</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse btn-md radius-round" href="contact-white.html">
                                    <span class="icon-reverse-wrapper">
                    <span class="btn-text">Get Started</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="price-plan-card tmponhover blur-style-two tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <span class="price-sub-title">Premium</span>
                            <h3 class="main-price">$ 45.00</h3>
                            <p class="per-month">Per Month</p>
                            <div class="check-box">
                                <ul>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">5 Social Media Account</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">Free Platform Access</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-box-item">
                                            <div class="box-icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </div>
                                            <p class="box-para">24/7 Customer Support</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse btn-border btn-md radius-round" href="contact-white.html">
                                    <span class="icon-reverse-wrapper">
                    <span class="btn-text">Get Started</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm My Price plan End -->

        <!-- Tpm Blog and news Area Start -->
        <section class="blog-and-news-are tmp-section-gapTop" id="blog">
            <div class="container">
                <div class="section-head mb--40">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Blog and News</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Elevating Personal
                        Branding the <br> through Powerful Portfolios</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <div class="img-box">
                                <a href="blog-details-white.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-4.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-4.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="blog-details-white.html">Let’s bring your ideas to life! Contact me, and let’s</a></h3>
                                <a href="blog-details-white.html" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="img-box">
                                <a href="blog-details-white.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-5.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-5.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="blog-details-white.html">Inspiring the World, One Project at a
                                        Time for the
                                        man</a></h3>
                                <a href="blog-details-white.html" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <div class="img-box">
                                <a href="blog-details-white.html">
                                    <img class="img-primary hidden-on-mobile" src="../assets/images/blog/blog-img-6.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="../assets/images/blog/blog-img-6.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="blog-details-white.html">Each one showcases my approach and dedication man</a></h3>
                                <a href="blog-details-white.html" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm Blog and news Area End -->

        
        <!-- Tpm Get In touch End -->

        <!-- Start Footer Area  -->
        
        <!-- End Footer Area  -->
        <!-- End Footer Area  -->
    </div>