<div class="main-wrapper-inner">
        <!-- tmp banner area start -->
        <div class="banner-right-thumbnail-area tmp-section-gap" id="home">
            <div class="container">
                <div class="row align-items-center pt--50">
                    <div class="col-lg-7 order-2 order-lg-1">
                        <div class="banner-right-thumb-left-content">
                            <span class="pre-title">Welcome to my world</span>
                            <h1 class="title">I’m
                                Jane Cooper <br> A
                                <span class="header-caption">
                                        <span class="cd-headline clip is-full-width">
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible theme-gradient">Teacher</b>
                                                <b class="is-hidden theme-gradient">Instructor</b>
                                                <b class="is-hidden theme-gradient">Content Writer</b>
                                                <b class="is-hidden theme-gradient">Influencer</b>
                                            </span>
                                </span>
                                </span>
                            </h1>
                            <p class="disc"> A personal portfolio is a
                                collection of your work, achievements, and skills
                                that highlights your abilities and professional growth. It serves as </p>
                            <div class="find-me-on">
                                <h2 class="find-me-on-title">Find me on</h2>
                                <div class="social-link banner">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2">
                        <div class="">
                            <div class="thumbnail-right-inner-main-image tmponhover">
                                <img src="../assets/images/banner/instructor.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tmp banner area end -->
