<!-- tmp banner area start -->
    <div class="rpp-banner-four-area">
        <div class="container">
            <div class="banner-four-main-wrapper">
                <div class="bg-benner-img-four">
                    <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/banner/banner-user-image-four.png" alt="banner-img-3">
                </div>
                <div class="banner-four-right-bg-img">
                    <img src="../assets/images/banner/banner-four-right-bg-img.png" alt="banner-img-3">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Web Developer</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">Jackson Clark</h1>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3"> Outsourcing can provide corporate businesses with several
                                advantages, incl b usinesses Outsourcing can provide usinesses Outsourcing can provide
                            </p>
                            <div class="button-area-banner-three tmp-scroll-trigger tmp-fade-in animation-order-4">
                                <a class="tmp-btn hover-icon-reverse radius-round" href="portfolio-details-white.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">View Portfolio</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="banner-right-content tmp-scroll-trigger tmp-fade-in animation-order-5">
                            <div class="year-expariance-wrap">
                                <!-- <h3 class="title "><span class="counter">25</span></h3> -->
                                <h3 class="counter title"><span class="odometer" data-count="25">00</span>
                                </h3>
                                <p class="para">Years Of <br>experience </p>
                            </div>
                            <div class="find-me-on">
                                <h2 class="find-me-on-title">Find me on</h2>
                                <div class="social-link banner">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-four-left-bg-img">
            <img src="../assets/images/banner/banner-four-left-bg-img.png" alt="banner-img-3">
        </div>
    </div>