<div class="cv-card-area">
        <div class="plr--150 plr_lg--30 plr_md--30 plr_sm--30 plr_mobile--15">
            <div class="row row--25">
                <div class="col-xxl-3 col-lg-12">
                    <div class="d-flex flex-wrap align-content-start h-100 w-100 tab-content-overlay-to-top" id="home">
                        <div class="position-sticky sticky-top tmp-sticky-top w-100">
                            <div class="tmp-contact-about-inner">
                                <div class="thumbnail">
                                    <img src="../assets/images/banner/banner-user-image-05.png" alt="contact-img">
                                </div>
                                <div class="content">
                                    <div class="title-area">
                                        <h4 class="title">Lina Markar</h4>
                                        <span class="subtitle">Chief Operating Officer</span>
                                    </div>
                                    <div class="description">
                                        <div class="info-box">
                                            <span class="phone">Phone: <a href="tel:01941043264">+01234567890</a></span>
                                            <span class="mail">Email: <a
                                                        href="mailto:admin@example.com">admin@example.com</a></span>
                                        </div>
                                    </div>
                                    <div class="social-area mb--30">
                                        <div class="social-link justify-content-center">
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        </div>
                                    </div>
                                    <div class="button-area-banner-one text-xl-center text-start">
                                        <button class="tmp-btn hover-icon-reverse radius-round download-btn" onclick="downloadFile()">
                                            <span class="icon-reverse-wrapper">
                                                    <span class="btn-text">Download My CV</span>
                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-12">
                    <div class="tab-wrapper-overlay-to-top">
                        <div class="position-sticky sticky-top tmp-sticky-top w-100">
                            <ul class="tab-navigation-button style-2 nav tab-smlg nav-pills" id="v-pills-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link tmp-nav active" id="v-pills-home-tab" data-bs-toggle="tab" href="#v-pills-Javascript" role="tab" aria-selected="true">My About</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link tmp-nav " id="v-pills-profile-tab" data-bs-toggle="tab" href="#v-pills-Design" role="tab" aria-selected="true">My Resume</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link tmp-nav" id="v-pills-wordpress-tab" data-bs-toggle="tab" href="#v-pills-Wordpress" role="tab" aria-selected="true">My Work</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link tmp-nav" id="v-pills-settings-tabs" data-bs-toggle="tab" href="#v-pills-settings" role="tab" aria-selected="true">My Blog</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link tmp-nav" id="v-pills-python-tabs" data-bs-toggle="tab" href="#v-pills-python" role="tab" aria-selected="true">My Contact</a>
                                </li>


                            </ul>
