<div class="tmp-footer-area-style-net tmp-section-gapTop">
        <div class="footer-style-3">
            <div class="tmp-callto-action tmp-call-to-action bg_patern-1 style-8 content-wrapper">
                <div class="container">
                    <div class="row row--0 align-items-center ">
                        <div class="col-lg-12">
                            <div class="inner">
                                <div class="content text-center">
                                    <h2 class="title sal-animate">Ready to start creating a <br> standard website?</h2>
                                    <h6 class="subtitle sal-animate">Finest choice for your home &amp; office</h6>
                                    <div
                                        class="call-to-btn text-center mt--30 d-flex justify-content-center sal-animate">
                                        <a class="tmp-btn btn-icon" target="_blank"
                                            href="https://themeforest.net/item/reeni-personal-portfolio-html-template/56387656">Purchase
                                            Reeni <i class="icon feather-arrow-right"> </i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-style-net">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-sm-12 col-12">
                            <div class="copyright-left">
                                <ul class="tmp-menu link-hover">
                                    <li><a href="../component/blog.html">Latest Blog</a></li>
                                    <li><a href="#">Terms And Condition</a></li>
                                    <li><a href="../component/contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mt_sm--12">
                            <div class="copyright-center text-center">
                                <ul class="social-icon social-default justify-content-center">
                                    <li><a target="_blank" href="https://www.facebook.com/">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li><a target="_blank" href="https://www.twitter.com">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a target="_blank" href="https://www.instagram.com/">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li><a target="_blank" href="https://www.linkdin.com/">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-sm-12 col-12 mt_md--20 mt_sm--20">
                            <div class="copyright-right text-center text-lg-end">
                                <p class="copyright-text">© Copyright All rights reserved <a target="_blank"
                                        href="https://themeforest.net/user/inversweb/portfolio">inversWeb</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>