<div class="banner-personal-portfolio pt--70 pb--60 pt_md--0 pt_sm--0">
    <div class="section-header">
        <h4 class="subtitle tmp-title-split">
            <i class="fa-regular fa-house"></i> Introduce
        </h4>
        <h1 class="tmp-title-split">Say Hi from <span>John Deon</span>, <br> Framer Designer and
            Developer</h1>
        <p class="tmp-title-split">I design and code beautifully simple things and i love what i
            do. Just simple like that!</p>
    </div>
</div>

<div class="counterup-area-personal tmp-section-gapBottom">
    <div class="row g-5">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="count-box counter-style-2 border-style small-radious text-center">
                <div>
                    <h3 class="count-number tmponhover"><span class="odometer" data-count="320">00</span></h3>
                </div>
                <h5 class="title">Happy Clients.</h5>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="count-box counter-style-2 border-style small-radious text-center">
                <div>
                    <h3 class="count-number tmponhover"><span class="odometer" data-count="299">00</span></h3>
                </div>
                <h5 class="title">Employees</h5>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="count-box counter-style-2 border-style small-radious text-center">
                <div>
                    <h3 class="count-number tmponhover"><span class="odometer" data-count="199">00</span></h3>
                </div>
                <h5 class="title">Running Work</h5>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry</p>
            </div>
        </div>
    </div>
</div>