<!-- tmp portfolio area start -->
                        <div
                            class="tmp-portfolio-section-area banner-personal-portfolio signle-section tmp-section-gapBottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-header pb--20">
                                            <h4 class="subtitle wow move-right">
                                                <i class="fa-light fa-briefcase"></i> PORTFOLIO
                                            </h4>

                                            <h2 class="title tmp-title-split">Featured <span>Projects</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row g-5 mt--10">
                                    <!-- Start Single Portfolio -->
                                    <div data-aos="fade-up" class="col-lg-6 col-xl-6 col-md-6 col-12">
                                        <div class="tmp-portfolio-small bg-color-card tmponhover" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="../component/project-details.html">
                                                        <img src="../assets/images/portfolio/portfolio-01.jpg"
                                                            alt="Personal Portfolio Images">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="category-info">
                                                        <div class="category-list">
                                                            <a href="../component/project-details.html">Development</a>
                                                        </div>
                                                        <div class="meta">
                                                            <span><a href="../component/project-details.html"><i
                                                                        class="feather-heart"></i></a>
                                                                600</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="../component/project-details.html">The
                                                            services provide design <i
                                                                class="fa-solid fa-arrow-up-right"></i></a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Portfolio -->
                                    <!-- Start Single Portfolio -->
                                    <div data-aos="fade-up" data-sal-delay="200"
                                        class="col-lg-6 col-xl-6 col-md-6 col-12">
                                        <div class="tmp-portfolio-small bg-color-card tmponhover" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="../component/project-details.html">
                                                        <img src="../assets/images/portfolio/portfolio-02.jpg"
                                                            alt="Personal Portfolio Images">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="category-info">
                                                        <div class="category-list">
                                                            <a href="../component/project-details.html">Development</a>
                                                        </div>
                                                        <div class="meta">
                                                            <span><a href="../component/project-details.html"><i
                                                                        class="feather-heart"></i></a>
                                                                600</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="../component/project-details.html">The
                                                            services provide design <i
                                                                class="fa-solid fa-arrow-up-right"></i></a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Portfolio -->
                                    <!-- Start Single Portfolio -->
                                    <div data-aos="fade-up" class="col-lg-6 col-xl-6 col-md-6 col-12">
                                        <div class="tmp-portfolio-small bg-color-card tmponhover" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="../component/project-details.html">
                                                        <img src="../assets/images/portfolio/portfolio-03.jpg"
                                                            alt="Personal Portfolio Images">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="category-info">
                                                        <div class="category-list">
                                                            <a href="../component/project-details.html">Development</a>
                                                        </div>
                                                        <div class="meta">
                                                            <span><a href="../component/project-details.html"><i
                                                                        class="feather-heart"></i></a>
                                                                600</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="../component/project-details.html">The
                                                            services provide design <i
                                                                class="fa-solid fa-arrow-up-right"></i></a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Portfolio -->
                                    <!-- Start Single Portfolio -->
                                    <div data-aos="fade-up" data-sal-delay="200"
                                        class="col-lg-6 col-xl-6 col-md-6 col-12">
                                        <div class="tmp-portfolio-small bg-color-card tmponhover" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="../component/project-details.html">
                                                        <img src="../assets/images/portfolio/portfolio-04.jpg"
                                                            alt="Personal Portfolio Images">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="category-info">
                                                        <div class="category-list">
                                                            <a href="../component/project-details.html">Development</a>
                                                        </div>
                                                        <div class="meta">
                                                            <span><a href="../component/project-details.html"><i
                                                                        class="feather-heart"></i></a>
                                                                600</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="../component/project-details.html">The
                                                            services provide design <i
                                                                class="fa-solid fa-arrow-up-right"></i></a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Portfolio -->
                                </div>
                            </div>
                        </div>
                        <!-- tmp portfolio area end -->