<div class="tmp-section-gapBottom banner-personal-portfolio experience-style-list signle-section">
    <div class="section-header pb--20">
        <h4 class="subtitle wow move-right">
            <i class="fa-regular fa-user"></i> My Resume
        </h4>
        <h2 class="title tmp-title-split">Education & <span>Experience</span></h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <div class="experience-list">

                    <!-- Start Single List  -->
                    <div class="resume-single-list bg-card">
                        <div class="inner">
                            <div class="heading">
                                <div class="title">
                                    <h4>Personal Portfolio April Fools</h4>
                                    <span>University of DVI (1997 - 2001)</span>
                                </div>
                                <div class="date-of-time">
                                    <span>4.30/5</span>
                                </div>
                            </div>
                            <p class="description">The education should be very
                                interactual. Ut tincidunt est ac dolor aliquam sodales.
                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
                                mauris hendrerit ante.</p>
                        </div>
                    </div>
                    <!-- End Single List  -->

                    <!-- Start Single List  -->
                    <div class="resume-single-list bg-card">
                        <div class="inner">
                            <div class="heading">
                                <div class="title">
                                    <h4> Examples Of Personal Portfolio</h4>
                                    <span>College of Studies (2000 - 2002)</span>
                                </div>
                                <div class="date-of-time">
                                    <span>4.50/5</span>
                                </div>
                            </div>
                            <p class="description">Maecenas finibus nec sem ut
                                imperdiet. Ut tincidunt est ac dolor aliquam sodales.
                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
                                mauris hendrerit ante.</p>
                        </div>
                    </div>
                    <!-- End Single List  -->

                    <!-- Start Single List  -->
                    <div class="resume-single-list bg-card">
                        <div class="inner">
                            <div class="heading">
                                <div class="title">
                                    <h4>Tips For Personal Portfolio</h4>
                                    <span>University of Studies (1997 - 2001)</span>
                                </div>
                                <div class="date-of-time">
                                    <span>4.80/5</span>
                                </div>
                            </div>
                            <p class="description"> If you are going to use a passage.
                                Ut tincidunt est ac dolor aliquam sodales.
                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
                                mauris hendrerit ante.</p>
                        </div>
                    </div>
                    <!-- End Single List  -->

                </div>
            </div>
        </div>
    </div>
</div>