<div class="d-none d-xl-block">
    <div class="tmp-sidebar-area tmp_side_bar">
        <div class="inner">
            <div class="top-area">
                <a href="../index/index.html" class="logo">
                    <img class="logo-dark" src="../assets/images/logo/white-logo-reeni.png"
                        alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                    <img class="logo-white" src="../assets/images/logo/logo-white.png"
                        alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                </a>
                <div class="close-icon-area">
                    <button class="tmp-round-action-btn close_side_menu_active">
                        <i class="fa-sharp fa-light fa-xmark"></i>
                    </button>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="image-area-feature">
                    <a href="../index/index.html">
                        <img src="../assets/images/logo/man.png" alt="personal-logo">
                    </a>
                </div>
                <h5 class="title mt--30">Freelancer delivering exceptional Webflow, and Next.js solutions.</h5>
                <p class="disc">I am a skilled freelancer specializing in Webflow development, Figma design, and
                    Next.js projects. I deliver creative, dynamic, and user-centric web solutions.
                </p>
                <div class="short-contact-area">
                    <!-- single contact information -->
                    <div class="single-contact">
                        <i class="fa-solid fa-phone"></i>
                        <div class="information tmp-link-animation">
                            <span>Call Now</span>
                            <a href="#" class="number">+92 (8800) - 98670</a>
                        </div>
                    </div>
                    <!-- single contact information end -->

                    <!-- single contact information -->
                    <div class="single-contact">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="information tmp-link-animation">
                            <span>Mail Us</span>
                            <a href="#" class="number">example@info.com</a>
                        </div>
                    </div>
                    <!-- single contact information end -->

                    <!-- single contact information -->
                    <div class="single-contact">
                        <i class="fa-solid fa-location-crosshairs"></i>
                        <div class="information tmp-link-animation">
                            <span>My Address</span>
                            <span class="number">66 Broklyant, New York 3269</span>
                        </div>
                    </div>
                    <!-- single contact information end -->
                </div>
                <!-- social area start -->
                <div class="social-wrapper mt--20">
                    <span class="subtitle">find with me</span>
                    <div class="social-link">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <!-- social area end -->
            </div>
        </div>
    </div>
    <a class="overlay_close_side_menu close_side_menu_active" href="javascript:void(0);"></a>
</div>