<!-- Start Service__Style--1 Area  -->
                        <div class="tmp-service-area tmp-section-gapBottom banner-personal-portfolio signle-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-header pb--20">
                                            <h4 class="subtitle wow move-right">
                                                <i class="fa-solid fa-layer-group"></i> My Skill
                                            </h4>

                                            <h2 class="title tmp-title-split">My <span>Specializations</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row g-5 skills-wrapper text-center">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/figma.png" alt="Figma">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="92">00</span>%</h3>
                                                <p class="name">Figma</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/framer.png" alt="Framer">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="99">00</span>%</h3>
                                                <p class="name">Framer</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/webflow.png" alt="Webflow">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="95">00</span>%</h3>
                                                <p class="name">Webflow</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/react.png" alt="React">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="88">00</span>%</h3>
                                                <p class="name">React</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/wordpress.png" alt="WordPress">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="85">00</span>%</h3>
                                                <p class="name">WordPress</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="skill-style-border-card tmponhover">
                                            <div class="skill-inner">
                                                <img src="../assets/images/skill/laravel.png" alt="Laravel/PHP">
                                                <h3 class="count-number"><span class="odometer"
                                                        data-count="94">00</span>%</h3>
                                                <p class="name">Laravel/PHP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Service__Style--1 Area  -->