    <!-- tpm-header-area start -->
    <header class="tmp-header-area-start header-one header--sticky header--transparent">
        <!-- header mid area start -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-content">
                        <div class="logo">
                            <a href="../index/index.html">
                                <img class="logo-dark" src="../assets/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                                <img class="logo-white" src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                            </a>
                        </div>
                        <div class="tmp-mainmenu-nav d-none d-xl-block">
                            <nav class="navbar-example2 onepagenav">
                                <ul class="tmp-mainmenu nav nav-pills">
                                    <li class="current"><a class="smoth-animation" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#about">About</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#service">Services</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#portfolio">Portfolio</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#resume">Resume</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#blog">Blog</a></li>
                                    <li class="nav-item"><a class="smoth-animation" href="#contacts">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="tmp-header-right">
                            <div class="social-share-wrapper d-none d-md-block">
                                <div class="social-link">
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                            </div>

                            <div class="tmp-side-collups-area d-block d-xl-none">
                                <button class="hamberger-menu humberger_menu_active"><i id="menuBtn" class="fa-light fa-bars humberger-menu"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- header mid area end -->
    </header>

