<div class="tmp-about-area section-height tmponhover">
                                <div class="inner">
                                    <h5 class="title">
                                        About My Skill
                                    </h5>
                                    <div class="separator-animated-border animated-true"></div>
                                    <div class="skill-share-inner">
                                        <span class="title">Primary Skills on</span>
                                        <ul class="skill-share d-flex">
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-1"><img src="../assets/images/icons/skill/icons-01.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-2"><img src="../assets/images/icons/skill/icons-02.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-3"><img src="../assets/images/icons/skill/icons-03.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-4"><img src="../assets/images/icons/skill/icons-04.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-5"><img src="../assets/images/icons/skill/icons-05.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-6"><img src="../assets/images/icons/skill/icons-06.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-7"><img src="../assets/images/icons/skill/icons-07.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-8"><img src="../assets/images/icons/skill/icons-08.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-9"><img src="../assets/images/icons/skill/icons-09.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-10"><img src="../assets/images/icons/skill/icons-10.png" alt="Icons Images"></li>
                                        </ul>
                                    </div>
                                    <div class="skill-share-inner skill-share-inner-width mt--25">
                                        <span class="title">Secondary Skills on</span>
                                        <ul class="skill-share d-flex">
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-1"><img src="../assets/images/icons/skill/icons-11.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-2"><img src="../assets/images/icons/skill/icons-12.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-3"><img src="../assets/images/icons/skill/icons-13.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-4"><img src="../assets/images/icons/skill/icons-14.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-5"><img src="../assets/images/icons/skill/icons-15.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-6"><img src="../assets/images/icons/skill/icons-16.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-7"><img src="../assets/images/icons/skill/icons-17.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-8"><img src="../assets/images/icons/skill/icons-18.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-9"><img src="../assets/images/icons/skill/icons-19.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-10"><img src="../assets/images/icons/skill/icons-20.png" alt="Icons Images"></li>
                                            <li class="tmp-scroll-trigger tmp-fade-in animation-order-11"><img src="../assets/images/icons/skill/icons-21.png" alt="Icons Images"></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>